#cuerpo {
    background-color: rgb(25, 25, 25)
}

.textoBody {
    padding-left: 30px;
    color: white
}

.textoTitulo {
    padding-left: 20px;
    color: white;
    
}

#resaltadoTitulo {
    background-color: black;
}

#banner {
    padding-left: 1.4%;
    border-radius: 3%;
}