#cuerpo {
    background-color: rgb(25, 25, 25)
}

.textoBody {
    padding-left: 30px;
    color: white
}

.textoTitulo {
    padding-left: 20px;
    color: white;
    
}

#resaltadoTitulo {
    background-color: black;
}

#banner {
    margin-left: 15px;
}