<div id="cabeza">
    <a href={{hrefAP}}>
        <img id="logoArgPrg" src={{logoAP}} alt={{logoAPAlt}} height="100%" width="10%">
    </a>
    <a href={{hrefLinkedIn}}>
        <img class="botonesLogin" src={{logoLinkedIn}} alt={{logoLinkedInAlt}} height="45px">
    </a>
    <a href={{hrefInstagram}}>
        <img class="botonesLogin" src={{logoInstagram}} alt={{logoInstagramAlt}} height="45px">
    </a>
    <button class="boton botonRegistro botonesLogin">{{registroBoton}}</button>
    <button class="boton botonLogin botonesLogin">{{loginBoton}}</button>
    <button class="boton botonInicio botonesLogin">{{inicioBoton}}</button>
    <br>
</div>