<div id="cabeza">
    <a href={{hrefAP}}>
        <img id="logoArgPrg" src={{logoAP}} alt={{logoAPAlt}} width="10%">
    </a>
    <button class="boton botonLogin botonesLogin">{{loginBoton}}</button>
    <button *ngIf="" class="boton botonInicio botonesLogin">{{inicioBoton}}</button>
    <a href={{hrefLinkedIn}}>
        <img class="botonesLogin" src={{logoLinkedIn}} alt={{logoLinkedInAlt}} width="2%">
    </a>
    <a href={{hrefInstagram}}>
        <img class="botonesLogin" src={{logoInstagram}} alt={{logoInstagramAlt}} width="3%">
    </a>

</div>