<div id="cabeza">
    <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
        <img id="logoArgPrg"
            src="https://desa.argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1660276176/APLogo-20-20.png"
            alt="Logo de Argentina Programa" height="120px" width="190px">
    </a>
    <a href="https://www.linkedin.com/in/valentino-conti-5574b5245">
        <img class="botonesLogin" src="https://i.pinimg.com/564x/0c/54/79/0c5479e1eeca3d119c2f9bbb90ce80a6.jpg" 
        alt="LinkedIn"
        height="45px">
    </a>
    <a href="https://www.instagram.com/tino_contii/">
        <img class="botonesLogin" src="https://cdn.freebiesupply.com/images/large/2x/instagram-logo-white-on-black.png" 
        alt="Instagram" 
        height="45px">
    </a>
    <button class="boton boton1 botonesLogin">Registrarse</button>
    <button class="boton boton1 botonesLogin">Login</button>
    <button class="boton boton1 botonesLogin">Inicio</button>
    <br>
</div>