#cabeza {
    background-color: black;
}

#logoArgPrg {
    background-color: black;
}

.botonesLogin {
    float: right;
    margin: 35px 5px;
}

.boton {
    color: #ffffff;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 12px 18px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

.botonInicio {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid royalblue;
}

.botonLogin {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid green;
}

.botonRegistro {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid orangered;
}

.botonInicio:hover {
    background-color: royalblue;
    color: white;
}

.botonLogin:hover {
    background-color: green;
    color: white;
}

.botonRegistro:hover {
    background-color: orangered;
    color: white;
}