<hr>
<h2 class="texto">Hard skills</h2>
<br>
<br>
<div id="circulos-progreso">
<circle-progress [percent]="70" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
    [outerStrokeColor]="'#ff0000'" [innerStrokeColor]="'#fd440b'" [animation]="true" [animationDuration]="1000"
    [imageSrc]="'https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582748_1280.png'"></circle-progress>

<circle-progress [percent]="75" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
    [outerStrokeColor]="'#0000ff'" [innerStrokeColor]="'#2a2eff'" [animation]="true" [animationDuration]="1000"
    [imageSrc]="'https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582747_1280.png'"></circle-progress>

<circle-progress [percent]="55" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="1000"
    [imageSrc]="'https://cdn-icons-png.flaticon.com/512/919/919828.png'"></circle-progress>

<circle-progress [percent]="70" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="1000"
    [imageSrc]="'https://icons-for-free.com/iconfiles/png/512/java+icon-1320167912601224138.png'"></circle-progress>

<circle-progress [percent]="30" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
    [outerStrokeColor]="'#3f53a8'" [innerStrokeColor]="'#6e79aa'" [animation]="true" [animationDuration]="1000"
    [imageSrc]="'https://assets.stickpng.com/images/62debc4fff3c6e4b8b5de8d3.png'"></circle-progress>

<circle-progress [percent]="50" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="1000"
    [imageSrc]="'https://cdn3.iconfinder.com/data/icons/popular-services-brands/512/node-512.png'"></circle-progress>
</div>

<div class="texto">
    Idiomas
</div>

<h2 class="texto">Soft skills</h2>
<div>
    
</div>